# Tuplas

In [1]:
nums = (1,2,3,4,5,6,7,8)
sub_tupla = nums[2:4]
print(sub_tupla)

(3, 4)

In [2]:
nums = (1,2,3,4,5,6,7,8)
print(9 in nums)

False

In [ ]:
tupla = tuple((10,20,40))
tupla[0] = 30

In [5]:
tupla = (6,7,8,9,10,6,6)
print(tupla.count(6))

3

In [7]:
tupla = (5,'3', True, 7234)
pos = tupla.index('3')
print(pos)

1

In [8]:
tupla = (5,'3', True, 7234)
for x in tupla:
  print(x)

5
3
True
7234

In [9]:
tupla = (5,'3', True, 7234)
for i in range(0, len(tupla)):
  print(tupla[i])

5
3
True
7234

In [10]:
tupla = (5,'3', True, 7234)
indice = 0
while (indice < len(tupla)):
 print(tupla[indice])
 indice += 1

5
3
True
7234

In [11]:
numeros_set = (1,2,3)
numeros_lista = list(numeros_set)
numeros_lista[0] = 12
numeros_lista.append("Fim")
numeros_set = tuple(numeros_lista)
print(numeros_set)

(12, 2, 3, 'Fim')

# Dicionarios:

In [12]:
idades = {'Ana':10, 'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}
print(idades)

{'Ana': 10, 'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}

In [14]:
nome_numeros = {7.1: 'sete virgula um',
                9.8:'nove virgula oito',
                10.43: 'dez virgula quarenta e três'}
print(nome_numeros)

{7.1: 'sete virgula um', 9.8: 'nove virgula oito', 10.43: 'dez virgula quarenta e três'}

In [16]:
idades = {'Ana':10, 'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}
print(idades['Maria'])
print(idades['Fernando'])
print(idades['João'])
print(idades['Ana'])

idades.get('Fernando')

20
indefinido
34
10

'indefinido'

In [17]:
nome_numeros = {
    7.1: 'sete virgula um',
    9.8:'nove virgula oito',
    10.43: 'dez virgula quarenta e três'}
print(nome_numeros[7.1])
print(nome_numeros.get(10.43))

sete virgula um
dez virgula quarenta e três

In [18]:
idades = {'Ana':10, 'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}
print("Ana" in idades)
print('Roberto' not in idades)

True
True

In [19]:
idades = {'Ana':10, 'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}
idades['Maria'] = 30
idades.update({'João':40})
print(idades)

{'Ana': 10, 'Maria': 30, 'João': 40, 'Fernando': 'indefinido'}

In [20]:
idades = {'Ana':10, 'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}
idades['Marcos'] = 90
idades.pop('Ana')
print(idades)
idades.popitem()
print(idades)

{'Maria': 20, 'João': 34, 'Fernando': 'indefinido', 'Marcos': 90}
{'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}

In [22]:
idades = {'Ana':10, 'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}
lista = idades.items()
print(lista)

for item in lista:
  print(item[0], item[1])

dict_items([('Ana', 10), ('Maria', 20), ('João', 34), ('Fernando', 'indefinido')])
Ana 10
Maria 20
João 34
Fernando indefinido

In [24]:
idades = {'Ana':10, 'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}
chaves = idades.keys()
valores = idades.values()

for item in chaves:
  print(item)
print("-------------")

for item in valores:
  print(item)
print('--------------')

Ana
Maria
João
Fernando
-------------
10
20
34
indefinido
--------------

In [26]:
idades = {'Ana':10, 'Maria': 20, 'João': 34, 'Fernando': 20}
lista_nomes = list(idades.values())
pessoas_com_20_anos = lista_nomes.count(20)
print(pessoas_com_20_anos)

2

In [28]:
idades = {'Ana':10, 'Maria': 20, 'João': 34, 'Fernando': 'indefinido'}
idades.clear()
print(idades)

{}

In [31]:
dados_maria = {
    'sexo': 'feminino',
    'cpf': '12345678910',
    'rg': '19487555'
}

dados_joao = {
    'sexo': 'masculino',
    'cpf': '12345456890',
    'rg': '19483285'
}

dados_anderson = {
    'sexo': 'masculino',
    'cpf': '12343265890',
    'rg': '19488293'
}


dados_por_nome = {
    'maria': dados_maria,
    'joao': dados_joao,
    'anderson': dados_anderson
}

print(dados_por_nome['maria']['cpf'])
print(dados_por_nome['joao']['sexo'])

12345678910
masculino

In [32]:
dados_por_nome = {
    'maria':{
        'sexo': 'feminino',
        'cpf': '12345678910',
        'rg': '19487555'
    },

    'joao':{
        'sexo': 'masculino',
        'cpf': '12345456890',
        'rg': '19483285'
    },


    'anderson': {
        'sexo': 'masculino',
        'cpf': '12343265890',
        'rg': '19488293'
    }
}

print(dados_por_nome['anderson']['cpf'])

12343265890